-r requirements.txt
nose
pytest
pytest-cov
coverage
selenium
invoke
sphinx
codecov
cov-core
pyenchant
sphinxcontrib-spelling
sphinx_rtd_theme
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability