sqlalchemy
python-dateutil
jupyter
notebook>=4.1
nbconvert
nbformat
traitlets
jupyter_core
jupyter_client
tornado
six
requests
jupyterlab>=4.4.8 # not directly required, pinned by Snyk to avoid a vulnerability
